@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tungsten";
  src: url("./assets/fonts/Tungsten-Bold.eot");
  src: url("./assets/fonts/Tungsten-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Tungsten-Bold.woff2") format("woff2"),
    url("./assets/fonts/Tungsten-Bold.woff") format("woff"),
    url("./assets/fonts/Tungsten-Bold.ttf") format("truetype"),
    url("./assets/fonts/Tungsten-Bold.svg#Tungsten-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNovaCond-Extrabld.eot");
  src: url("./assets/fonts/ProximaNovaCond-Extrabld.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaNovaCond-Extrabld.woff2") format("woff2"),
    url("./assets/fonts/ProximaNovaCond-Extrabld.woff") format("woff"),
    url("./assets/fonts/ProximaNovaCond-Extrabld.ttf") format("truetype"),
    url("./assets/fonts/ProximaNovaCond-Extrabld.svg#ProximaNovaCond-Extrabld")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNovaCond-Regular.eot");
  src: url("./assets/fonts/ProximaNovaCond-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaNovaCond-Regular.woff2") format("woff2"),
    url("./assets/fonts/ProximaNovaCond-Regular.woff") format("woff"),
    url("./assets/fonts/ProximaNovaCond-Regular.ttf") format("truetype"),
    url("./assets/fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNovaCond-Black.eot");
  src: url("./assets/fonts/ProximaNovaCond-Black.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaNovaCond-Black.woff2") format("woff2"),
    url("./assets/fonts/ProximaNovaCond-Black.woff") format("woff"),
    url("./assets/fonts/ProximaNovaCond-Black.ttf") format("truetype"),
    url("./assets/fonts/ProximaNovaCond-Black.svg#ProximaNovaCond-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNovaCond-Bold.eot");
  src: url("./assets/fonts/ProximaNovaCond-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaNovaCond-Bold.woff2") format("woff2"),
    url("./assets/fonts/ProximaNovaCond-Bold.woff") format("woff"),
    url("./assets/fonts/ProximaNovaCond-Bold.ttf") format("truetype"),
    url("./assets/fonts/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNovaCond-Thin.eot");
  src: url("./assets/fonts/ProximaNovaCond-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaNovaCond-Thin.woff2") format("woff2"),
    url("./assets/fonts/ProximaNovaCond-Thin.woff") format("woff"),
    url("./assets/fonts/ProximaNovaCond-Thin.ttf") format("truetype"),
    url("./assets/fonts/ProximaNovaCond-Thin.svg#ProximaNovaCond-Thin")
      format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNovaCond-Semibold.eot");
  src: url("./assets/fonts/ProximaNovaCond-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaNovaCond-Semibold.woff2") format("woff2"),
    url("./assets/fonts/ProximaNovaCond-Semibold.woff") format("woff"),
    url("./assets/fonts/ProximaNovaCond-Semibold.ttf") format("truetype"),
    url("./assets/fonts/ProximaNovaCond-Semibold.svg#ProximaNovaCond-Semibold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-white font-proxima;
  }
  .overlay-section:after {
    content: "";
    @apply w-full h-full absolute top-0 left-0;
    background: linear-gradient(
      107deg,
      #050e13 0%,
      rgba(0, 0, 0, 0) 65.46%,
      rgba(0, 0, 0, 0.78) 100%
    );
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .search-label {
    @apply block text-[24px] font-semibold text-heading mb-[6px];
  }
  .search-bar-input {
    @apply text-[20px] border-b border-[rgba(0,0,0,0.0.1)] focus:outline-none w-full pb-1;
  }
  .searchbar-column {
    width: 220px;
  }
  .searchbar-column:after {
    content: "";
    @apply absolute top-1/2 translate-y-[-50%] right-[-40px] h-[63px] w-[1px] bg-black opacity-100;
  }
  .searchbar-column.last:after {
    @apply hidden;
  }
  .partner img {
    @apply max-w-[200px] max-h-[100px];
  }
  .works-step {
    @apply border-r border-[#606060];
  }
  .works-step-wrapper .works-step:last-child {
    @apply border-none;
  }
  .service-card:hover .img img {
    @apply scale-[1.1];
  }
  .footer-link {
    @apply text-[18px] inline-block mt-6 text-paragraph duration-200 ease-in-out hover:text-primaryGreen relative;
  }
  .footer-link:after {
    content: "";
    @apply absolute bottom-0 w-0 right-0 h-[3px] bg-primaryGreen duration-200 ease-in-out;
  }
  .footer-link:hover:after {
    @apply w-full left-0 right-auto;
  }
  .footer-social-link {
    @apply text-[19px] duration-200 ease-in-out hover:text-primaryGreen;
  }
  .banner-img {
    -webkit-mask-image: url(./assets/images/shap.svg);
    -webkit-mask-size: cover;
  }
  .blog-card:hover img {
    @apply scale-[1.1];
  }
  .blog-details .feature-box {
    @apply mt-4;
  }
  .blog-details .feature-box .feature-title {
    @apply text-[18px] font-bold capitalize text-heading mb-1;
  }
  .blog-details .feature-box p {
    @apply text-[18px] text-paragraph;
  }
  .recent-news-cards .recent-news-card {
    @apply first:border-0 last:border-0;
  }
  .recent-news-cards .recent-news-card:hover img {
    @apply scale-[1.1];
  }
  .navlink-active {
    @apply font-bold;
  }
  .help-input-feild {
    @apply py-12 border-b border-[#B3BAC5];
  }
  .help-input-feild .input-inner {
    @apply flex items-center w-[425px] justify-between;
  }
  .help-input-feild .input-inner label {
    @apply text-[18px] text-heading font-bold;
  }
  .help-input-feild .input-inner label span {
    @apply text-red-500;
  }
  .help-input-feild .input-inner .help-input {
    @apply py-6 px-5 border border-[#B3BAC5] rounded-[12px] text-[18px] text-heading focus:outline-none;
  }
  .help-input-feild .input-inner .stores input {
    @apply hidden;
  }
  .help-input-feild .input-inner .stores label {
    @apply py-[25px] px-5 border border-[#B3BAC5] rounded-[12px] w-[236px] h-[72px] flex items-center justify-start cursor-pointer relative;
  }
  .help-input-feild .input-inner .stores label:before {
    content: "";
    @apply absolute top-1/2 translate-y-[-50%] right-5 h-8 w-8 border border-primaryGreen rounded-[5px];
  }
  .help-input-feild .input-inner .stores label:after {
    content: "";
    @apply absolute top-6 right-8 w-[8px] h-[16px] border border-heading hidden;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .help-input-feild .input-inner .stores input:checked + label:after {
    @apply block;
  }
  .faq-accordion h3 {
    @apply last:border-b-0;
  }
  .faq-accordion button:hover {
    @apply no-underline;
  }
  .faq-accordion button {
    @apply relative;
  }
  .faq-accordion button svg {
    @apply h-[24px] w-[24px];
  }
  .claim-card {
    @apply first:border-t;
  }
  .auth-title {
    @apply text-[32px] font-bold text-heading mb-[64px];
  }
  .auth-input-box label {
    @apply text-[18px] font-bold text-heading mb-2 block;
  }
  .auth-input-box input,
  .auth-input-box textarea {
    @apply p-5 text-[18px] text-heading border rounded-[12px] w-full focus:outline-none;
  }
  .shipment-form-layout {
    @apply py-[90px] px-[124px] border border-primaryGreen rounded-[24px];
  }
  .shipment-label {
    @apply block text-[18px] font-bold capitalize text-heading mb-2;
  }
  .shipment-label span {
    @apply text-red-500;
  }
  .shipment-input {
    @apply py-6 px-5 border border-[#B3BAC5] rounded-[12px] text-[18px] text-heading w-full focus:outline-none;
  }
  .error-message {
    @apply text-sm text-red-500 mt-2;
  }
  .shipment-info-indicator:before {
    content: "";
    @apply absolute top-1/2 translate-y-[-50%] left-0;
  }
  .shipment-select{
    @apply !h-[72px] !px-5 !rounded-[12px] focus:!ring-0 !text-[18px] capitalize;
  }
  .trip-type-radio label{
    @apply inline-block text-[32px] text-heading font-bold relative cursor-pointer;
  }
  .trip-type-radio label:before{
    content: '';
    @apply absolute top-1/2 translate-y-[-50%] left-[-35px] h-6 w-6 border-[2px] border-primaryGreen rounded-[14px];
  }
  .trip-type-radio input:checked + label:after{
    content: '';
    @apply absolute top-1/2 translate-y-[-50%] left-[-31px] w-[15px] h-[15px] rounded-full bg-primaryGreen;
  }
  .active-menu-link{
    @apply bg-primaryGreen !text-white;
  }
  .user-profile-pair {
    @apply py-3
  }
  .user-profile-pair{
    @apply flex items-center gap-2 text-[18px] text-heading;
  }
  .user-profile-pair .key {
    @apply w-[150px];
  }
  .order-table th{
    @apply p-6 pt-0 text-left text-[18px] font-bold;
  }
  .order-table tr{
    @apply border-b border-[#B3BAC5]
  }
  .order-table td{
    @apply p-6 text-base text-paragraph font-semibold;
  }
  .service-cards-wrapper .card-inner:nth-child(odd) .service-card{
    @apply flex-row-reverse
  }
  .sanitize-box h1 {
    @apply text-[32px] font-bold;
  }

  .sanitize-box h2{
    @apply text-[28px] font-bold;
  }

  .sanitize-box h3{
    @apply text-[24px] font-bold;
  }

  .sanitize-box h4{
    @apply text-[20px] font-bold;
  }

  .sanitize-box h5 {
    @apply text-[16px] font-bold;
  }

  .sanitize-box h6 {
    @apply text-[14px] font-bold;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
